p{
  color: #757575;
  text-align: center;
}
h1{
  color:#4aaaa5;
}
h2{
  text-align: center;
}
#logo {
  font-family: 'Pacifico', cursive;
  line-height: 90px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color:black;
  float: left;
}
nav {
  float: right;
  margin-top: 25px;
}
nav a {
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: black;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  line-height: 90px;
  font-size: 30px;
}
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}
#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}
.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}
.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}
.container-fluid{  
  background: url('../image/shifaaz-shamoon-1113388-unsplash.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 768px).container{
    max-width:100%;
    max-width:100%;
}
.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
#masthead{
  position: fixed;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
a {
  color: black;
}
.container{
  text-align: center;
}
.img-thumbnail rounded-circle{
  border: none;
}
@media only screen and (max-width:300px) {

  .container {
    width: 80%;
    padding: 0;
  }
  .container {
    width: 100%;
  }
}
 
@media only screen and (max-width: 300px) {
 p{
   
 }
  }

@media only screen and (min-width: px) and (max-width: 960px) {
 
}
@media only screen and (max-width:550px) {
 
  .col-sm-4{
    width: 100%;
  }
} 
